body{
background-color :#04A6EB;
color: #FDFFFF;
width: 500px;
margin-right: auto;
margin-left: auto;
}
button{
padding: 5px 30px;
background-color:white;
border-style: nome ;

}

input{height: 30px;}
